<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TorchSharp-cpu" version="0.105.1" manuallyInstalled="true" />
  <package id="libtorch-cpu" version="2.5.1" />
  <package id="libtorch-cpu-linux-x64" version="2.5.1" />
  <package id="libtorch-cpu-osx-arm64" version="2.5.1" />
  <package id="libtorch-cpu-win-x64" version="2.5.1" />
</packages>